{% extends "base.html" %}

{% block content %}
<h1>Adiciona tipo</h1>

<div class="text-center">
<form method='POST'>
    {{ form.hidden_tag() }}
    {{ form.tipo.label }} {{ form.tipo(class="forminput", placeholder='Tipo') }}
    {{ form.submit(class="btn btn-dark mb-1 btn-lg") }}
</form>
</div>

<h1>Tipos cadastrados</h1>
<div class="text-center">
{% for tipo in tipos %}
    <p class="lista-tabela">{{ tipo.tipo }}<button class="btn btn-dark mb-1 btn-lg"><a href="{{  url_for('apaga_tipo', id=tipo.id) }}">Apagar</a></button></p>
{% endfor %}
</div>
{% endblock %}