<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <style>
        </style>
        <title>
            {% if title %}
                {{ title }}
            {% else %}
                Vegetais
            {% endif %}
        </title>
    </head>
    <body>
        <div>
            <a href="{{ url_for('index') }}">Home</a> - 
            <a href="{{ url_for('addtipo') }}">Tipo</a> - 
            <a href="{{ url_for('addalimento') }}">Alimento</a>
        </div>
        {% block content%}{% endblock %}
    </body>
</html>