{% extends "base.html" %}

{% from "macros.html" import render_form with context %}

{% block content %}
<h1>Perfil do usuário</h1>

<form class="col-md-8 mx-auto" method='POST' action="" novalidate>
    {{ form.hidden_tag() }}
    <div class="form-group mb-3">
      <label for="username">Username</label>
      <input class="form-control" type="text" id="username" name="username" value="{{ current_user.username }}" disabled></input>
    </div>
    {{ render_form(form.fullname, 'Username') }}
    <p>
      {{ form.submit(class="btn-lg btn-dark") }}
    </p>
</form>
{% endblock %}