{% extends "base.html" %}

{% from "macros.html" import render_form with context %}

{% block content %}

<h1>Registro de usuário</h1>

  <div>
    <form class="col-md-8 mx-auto" method='POST' action="" novalidate>
      {{ form.hidden_tag() }}
      {{ render_form(form.username, 'Username') }}
      {{ render_form(form.fullname, 'José Silva') }}
      {{ render_form(form.password, 'Senha') }}
      {{ render_form(form.password_again, 'Repetir a senha') }}
      <br>
      {{ form.submit(class="btn-lg btn-dark") }}
    </form>
  </div>
  
{% endblock %}
